#group_1 {
	z-index: 3;
	transform: translateY(14rem);
	transition: transform 0.5s ease;
}

#group_2 {
	transform: translateY(95rem);
	transition: transform 0.5s ease;
	z-index: 2;
}

#group_3 {
	transform: translateY(245rem);
	transition: transform 0.5s ease;
	z-index: 1;
}

#group_4 {
	transform: translateY(310rem);
	transition: transform 0.5s ease;
	z-index: 2;
}

#group_5 {
	transform: translateY(450rem);
}

@include iphone7 {
	#group_1 {
		transform: translateY(18rem);
	}

	#group_3 {
		transform: translateY(235rem);
	}

	#group_4 {
		transform: translateY(310rem);
	}

	#group_5 {
		transform: translateY(440rem);
	}
}

@include iphone7plus {
	#group_3 {
		transform: translateY(230rem);
	}

	#group_4 {
		transform: translateY(315rem);
	}

	#group_5 {
		transform: translateY(440rem);
	}
}


@include extra-small {
	#group_1 {
		transform: translateY(220px);
	}

	#group_3 {
		transform: translateY(3790px);
	}

	#group_4 {
		transform: translateY(4260px);
	}

	#group_5 {
		transform: translateY(5500px);
	}
}

@include small {
	#group_1 {
		transform: translateY(350px);
	}

	#group_2 {
		transform: translateY(80rem);
	}

	#group_3 {
		transform: translateY(4650px);
	}

	#group_4 {
		transform: translateY(4970px);
	}

	#group_5 {
		transform: translateY(6830px);
	}
}

@include medium {
	#group_1 {
		transform: translateY(90px);
	}

	#group_2 {
		transform: translateY(4530px);
	}

	#group_3 {
		transform: translateY(3010px);
	}

	#group_4 {
		transform: translateY(2690px);
	}

	#group_5 {
		transform: translateY(4800px);
	}
}

@include large {
	#group_1 {
		transform: translateY(180px);
	}

	#group_3 {
		transform: translateY(4170px);
	}

	#group_4 {
		transform: translateY(4270px);
		transition: transform 0.1s ease;
	}

	#group_5 {
		transform: translateY(6670px);
		transition: transform 0.1s ease;
	}
}
