.parallax {
	perspective: 1px;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;

	&__group {
		position: relative;
		height: 100vh;
		transform-style: preserve-3d;

		&:nth-child(2) {
			& .parallax__layer--back {
				transform: translateZ(-1px) scale(2) translateY(0);
			}

			& .parallax__layer--base {
				transform: translateZ(0) translateY(50rem);
			}
		}

		&:nth-child(3) {
			& .parallax__layer--back:first-child {
				transform: translateZ(-1px) scale(2) translateY(-76px);
			}
		}

		&:nth-child(4) {
			& .parallax__layer--base:last-child {
				transform: translateZ(0) translateY(415px);
			}
		}
	}

	&__layer {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		&--base {
			transform: translateZ(0);
		}

		&--back {
			transform: translateZ(-1px) scale(2);
		}
	}

	@include iphone5 {
		&__group {
			&:nth-child(2) {
				& .parallax__layer--back {
					transform: translateZ(-1px) scale(2) translateY(0);
				}

				& .parallax__layer--base {
					transform: translateZ(0) translateY(-50rem);
				}
			}
		}
	}

	@include iphone7 {
		&__group {

			&:nth-child(2) {
				& .parallax__layer--back {
					transform: translateZ(-1px) scale(2) translateY(0);
				}

				& .parallax__layer--base {
					transform: translateZ(0) translateY(50rem);
				}
			}
		}
	}

	@include extra-small {
		&__group {
			&:nth-child(2) {
				& .parallax__layer--back {
					transform: translateZ(-1px) scale(2) translateY(-13rem);
				}

				& .parallax__layer--base {
					transform: translateZ(0) translateY(20rem);
				}
			}

			&:nth-child(3) {
				& .parallax__layer--back:first-child {
					transform: translateZ(-1px) scale(2) translateY(-108px);
				}
			}
		}
	}

	@include small {
		&__group {
			&:nth-child(2) {
				& .parallax__layer--back {
					transform: translateZ(-1px) scale(2) translateY(-130px);
				}

				& .parallax__layer--base {
					transform: translateZ(0) translateY(750px);
				}
			}

			&:nth-child(3) {
				& .parallax__layer--back:first-child {
					transform: translateZ(-1px) scale(2) translateY(-132px);
				}
			}
		}
	}

	@include medium {
		&__group {
			&:nth-child(2) {
				& .parallax__layer--back {
					transform: translateZ(-1px) scale(2) translateY(-1826px);
				}

				& .parallax__layer--base {
					transform: translateZ(0) translateY(-2870px);
				}
			}

			&:nth-child(3) {
				& .parallax__layer--back:first-child {
					transform: translateZ(-1px) scale(2) translateY(-161px);
				}
			}

			&:nth-child(4) {
				& .parallax__layer--base:last-child {
					transform: translateZ(0) translateY(940px);
				}
			}
		}

		@include large {
			&__group {
				&:nth-child(2) {
					& .parallax__layer--back {
						transform: translateZ(-1px) scale(2) translateY(-1576px);
						transition: transform 1s ease-in;
					}

					& .parallax__layer--base {
						transform: translateZ(0) translateY(-1940px);
						transition: transform 1s ease-in;
					}
				}

				&:nth-child(3) {
					& .parallax__layer--back:first-child {
						transform: translateZ(-1px) scale(2) translateY(-196px);
						transition: transform 1s ease-in;
					}
				}

				&:nth-child(4) {
					& .parallax__layer--base:last-child {
						transition: transform 1s ease-in;
					}
				}
			}
		}
	}
}
