.section-start {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px 20px 20px;
	background-image: url("../images/noise.svg");
	background-color: $color-gray;
	font-size: 30px;
	text-transform: uppercase;

	&__title {
		margin: 0;
		font-size: 75px;
		color: $color-gold;
		font-weight: 400;
	}

	&__text {
		position: relative;
		display: flex;
		font-size: 75px;
		z-index: 2;
	}

	&__text-arrow {
		display: block;
		width: 30px;
		height: inherit;
		background-image: url("../images/big-arrow-right.svg");
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: center;
		margin: 0 15px;
	}

	&__background {
		position: relative;
		width: 100%;
		height: 150px;
		margin-top: -22px;
		background-image: url("../images/buckwheat-main.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;

		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			mix-blend-mode: overlay;
			background-color: #72310085;
			background-image: linear-gradient(90deg, #8d3d0061 0%, #8d3d004f 47%);
		}
	}

	@include intermediate {
		width: 75%;
	}

	@include extra-small {
		position: relative;
		width: 70%;
		padding: 45px 35px;

		&__title {
			margin: 0;
			font-size: 120px;
		}

		&__text {
			font-size: 120px;
		}

		&__text-arrow {
			width: 75px;
		}

		&__background {
			width: 100%;
			height: 230px;
		}
	}

	@include small {
		width: 445px;

		&__title {
			font-size: 130px;
		}

		&__text {
			font-size: 130px;
		}
	}

	@include medium {
		width: 620px;
		padding: 80px 47px 60px;

		&__title {
			font-size: 180px;
			line-height: 120px;
		}

		&__text {
			font-size: 180px;
			transform: translateX(247px);
		}

		&__text-arrow {
			width: 128px;
			margin: 0 52px;
		}

		&__background {
			margin-top: -50px;
			height: 303px;
		}
	}

	@include large {
	}
}
