.section-ticker {
	width: 100%;
	overflow: hidden;
	border-top: 1px solid $color-white;
	border-bottom: 1px solid $color-white;
	height: 40px;

	&__text {
		display: flex;
		text-transform: uppercase;
		padding: 10px 0;
		font-size: 16px;
		transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);

		& > * {
			display: flex;
			align-items: center;
			flex-shrink: 0;
			padding-right: 13px;
			padding-left: 13px;

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}
		}

		img {
			padding-left: 1rem;
			height: 14px;
		}
	}

	@include extra-small {
		height: 51px;

		&__text {
			padding: 15px 0;
		}
	}

	@include medium {
		height: 62px;

		&__text {
			padding: 17px 0;
			font-size: 24px;

			& > * {
				padding: 0 60px 0 0;
			}
		}

		img {
			padding-left: 20px;
			height: 20px;
		}
	}
}
