.section-survey {
	margin-bottom: 5rem;

	&__container {
		padding-top: 40px;
		padding-bottom: 40px;
		background-color: $color-black;
	}

	&__wrap {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	&__title {
		margin: 0 0 2rem;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 4rem;
		overflow: hidden;
	}

	&__text {
		margin-bottom: 2rem;
		font-family: "SFProDisplay";
		font-size: 1.4rem;
		overflow: hidden;
	}

	&__state-answers {
		position: relative;
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
		width: 100%;

		&:after {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			bottom: -5px;
			width: 100%;
			height: 1px;
			background-color: $color-white;
		}
	}

	&__step {
		font-size: 1.4rem;

		&:first-child {
			visibility: hidden;
		}

		&--cold {
			color: $color-gold;
		}
	}

	&__questions {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		width: 100%;
	}

	&__ticker {
		transform: translateY(21rem);
	}

	&__ticker-link span {
		background-image: url("../images/arrow-down.svg");
		background-repeat: no-repeat;
		background-position: center right;
		padding-right: 30px;
		transition: background-image 0.2s;

		&:hover {
			background-image: url("../images/arrow-gold-down.svg");
			transition: background-image 0.2s;
		}
	}

	@include intermediate {
		&__text {
			font-size: 0.7rem;
		}
	}

	@include extra-small {
		&__title {
			font-size: 2.2rem;
		}

		&__text {
			font-size: 8px;
		}

		&__step {
			font-size: 24px
		}

		&__ticker {
			transform: translateY(16rem);
		}
	}

	@include small {
		&__text {
			font-size: 15px;
		}

		&__ticker-link {
			&:hover {
				color: $color-gold;
			}
		}
	}

	@include medium {
		&__title {
			margin: 0 0 30px;
			font-size: 70px;
			line-height: 95px;
		}

		&__text {
			font-size: 14px;
		}

		&__state-answers {
			width: 930px;
		}

		&__ticker {
			transform: translateY(350px);
		}
	}

	@include large {
		&__text {
			margin-bottom: 50px;
		}

		&__state-answers {
			width: 1240px;
			margin-bottom: 58px;
		}

		&__state-answers {
			&:after {
				bottom: -14px;
			}
		}
	}
}
