.section-what-to-call {
	&__container {
		display: flex;
		justify-content: center;
	}

	&__wrap {
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-wrap: wrap;
		text-transform: uppercase;
	}

	&__text {
		display: flex;
		align-items: center;
		overflow: hidden;
	}

	&__proverb {
		position: relative;
		font-size: 2.7rem;
		line-height: 4rem;
		transform: translateY(150px);

		&.show-text {
			transform: translateY(0);
			transition: transform 1s cubic-bezier(0.65, 0, 0.35, 1);
		}

		&--crossOut {
			&:after {
				content: "";
				position: absolute;
				top: 50%;
				left: 0;
				width: 100%;
				background-color: $color-white;
				height: 2px;
			}
		}

		&--yellow-italic {
			font-style: italic;
			color: $color-gold;
		}

		&--italic {
			font-style: italic;
		}
	}

	&__img-wrap {
		height: 100%;
		display: flex;
		align-items: center;
		overflow: hidden;
	}

	&__image {
		width: 2.5rem;
		margin: 0 10px;
		transform: translateY(500px);

		&.show {
			transform: translateY(0);
			transition: transform 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
		}

		&--not-right {
			margin: 0 10px 0 0;
		}
	}

	&__arrow {
		margin: 0 5px;
		min-width: 2.4rem;
		height: 2rem;
		background-image: url("../images/big-arrow-right.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		background-position-x: -150px;

		&.show-arrow {
			background-position-x: 0;
			transition: background-position-x 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
		}
	}

	@include intermediate-s {
		&__proverb {
			font-size: 28px;
			line-height: 43px;
		}
	}

	@include intermediate {
		&__proverb {
			font-size: 1.9rem;
			line-height: 2.8rem;
		}
	}

	@include extra-small {
		&__proverb {
			font-size: 48px;
			line-height: 60px;
		}

		&__image {
			width: 53px;
			margin: 0 15px;

			&--not-right {
				margin: 0 15px 0 0;
			}
		}

		&__arrow {
			margin: 0 20px;
			min-width: 110px;
		}
	}

	@include small {
		&__proverb {
			font-size: 70px;
			line-height: 80px;
		}

		&__image {
			width: 84px;
			margin: 0 25px;

			&--not-right {
				margin: 0 25px 0 0;
			}
		}
	}

	@include large {
		&__wrap {
			width: 1250px;
		}

		&__proverb {
			font-size: 105px;
			line-height: 115px;
		}

		&__image {
			width: 130px;
			margin: 0 20px;

			&--not-right {
				margin: 0 20px 0 0;
			}
		}

		&__arrow {
			margin: 0 20px;
			min-width: 128px;
			height: 72px;
		}
	}
}
