footer.footer.parallax__layer.parallax__layer--back
	.footer__wrap
		.logo-southmedia.footer__logo-southmedia
			a(href="/").logo-southmedia__link
				img(src="images/logo-southmedia.svg").logo-southmedia__img

		.footer__navigation.navigation
			ul.navigation__list.footer__navigation-list
				+listItems('Горячая. Коричневая. Твоя')
				+listItems('Топчик рецептов')
				+listItems('Вари гречу')

		.contacts.header__contact.footer__contacts.js-header-contact
			a(href="tel:+79001234567").contacts__phone-number
				| +7 900 123 45 67
			a(href="mailto:Grecha@southmedia.ru").contacts__phone-number
				| Grecha@southmedia.ru

		.footer__copyright
			| Copyright &copy;&nbsp;
			span(data-actual-year)
			| &nbsp;Southmedia
