main.main-section
	.main-section__container
		include ../pages/section-start
		include ../pages/section-what-to-call
		include ../pages/section-cooking-method
		include ../pages/section-ticker
		include ../pages/section-recipes
