main.main-section
	.main-section__container.parallax
		.parallax__group#group_1
			include ../pages/section-start
		.parallax__group#group_2
			include ../pages/section-what-to-call
			include ../pages/section-cooking-method
		.parallax__group#group_3
			include ../pages/section-ticker
			include ../pages/section-recipes
		.parallax__group#group_4
			include ../pages/section-survey
			include ../pages/section-ticker-soc

		.parallax__group#group_5
			include ../components/footer
