-
	const data = {
		main: {
			slideCooking: [
				{
					title: 'Перебери и хорошенько промой круппу',
					img: './images/cooking-first.jpg',
					alt: 'промывка гречи',
				},
				{
					title: 'Обжарь на сковороде в&nbsp;течение 4-5 мин до&nbsp;золотистого цвета',
					img: './images/cooking-second.jpg',
					alt: 'греча на сковороде',
				},
				{
					title: 'Закинь гречу в кипящую воду в пропорции 1 к 2.',
					img: './images/cooking-third.jpg',
					alt: 'греча в кастрюле',
				},
				{
					title: 'Вари на среднем огне, помешивая и снимая пену пенную',
					img: './images/cooking-fourth.jpg',
					alt: 'греча варится',
				},
				{
					title: 'Сними с плиты и добавь масла ама ама хасла. Готова твоя греча',
					img: './images/cooking-fifth.jpg',
					alt: 'греча с маслицем',
				},
			],
			slideRecipes: [
				{
					title: 'Рататуй<br>c&nbsp;гречневой<br>кашей',
					text: `Питательное, легкое, полезное и вкусное блюдо.
							В моем понимании это правильная еда,
							и когда мои мужчины едят пиццу,
							я готовлю гречневую кашу и сдабриваю ее ароматным овощным рагу. `,
					img: './images/first-recipe.jpg',
					alt: 'рататуй c гречневой кашей',
				},
				// {
				// 	title: 'Гранола<br>из гречи',
				// 	text: `Сытный и сладкий завтрак,
				// 			который поможет тебе всегда оставать стройной,
				// 			молодой, при этом ты сможешь очень вкусно покушать`,
				// 	img: '../images/second-recipe.jpg',
				// 	alt: 'гранола из гречи',
				// },
				// {
				// 	title: 'Чье-то Гречото',
				// 	text: `Сытный и сладкий завтрак,
				// 			который поможет тебе всегда оставать стройной,
				// 			молодой, при этом ты сможешь очень вкусно покушать`,
				// 	img: './images/third-recipe.jpg',
				// 	alt: 'гречото',
				// },
			]
		}
	};

script.
	window.data = {
		home: !{JSON.stringify(data.home)},
	};
