mixin listItems(text, link)
	li(data-text= text).navigation__item
		a(href="#").navigation__link
			| #{text}

nav.navigation
	ul.container.navigation__list
		+listItems('Горячая. Коричневая. Твоя')
		+listItems('Топчик рецептов')
		+listItems('Вари гречу')

	include ../pages/contacts
