section(data-section="sixth").section-survey.parallax__layer.parallax__layer--base
	.container.section-survey__container
		.section-survey__wrap
			h4.section-survey__title
				| Получи#[br]любимую
			p.section-survey__text
				| Ответь на несколько вопросов о тебе #[br]
				| и гречке и получи небольшой бонус от нас

			.section-survey__state-answers
				.section-survey__step
					| 00
				.section-survey__step
					| 01
				.section-survey__step
					| 02
				.section-survey__step
					| 03
				.section-survey__step
					| 04

			.section-survey__questions
				include ../pages/question


