section(data-section="third").section-cooking-method.parallax__layer.parallax__layer--base
	.container.section-cooking-method__container
		h2.section-cooking-method__warning.section-cooking-method__warning--rotated
			| Правильно вари гречку

		.section-cooking-method__slider.js-slider-wrap
			include ../pages/slider


