- const linkInsta = 'https://www.instagram.com/grechnevaiakasha/'
- const text = 'Греча в инстаграм'

section(data-section="seventh").section-ticker.parallax__layer.parallax__layer--base
	p.section-ticker__text.js-ticker-text
		+socials(linkInsta, text)
		+socials(linkInsta, text)
		+socials(linkInsta, text)
		+socials(linkInsta, text)
		+socials(linkInsta, text)
		+socials(linkInsta, text)
		+socials(linkInsta, text)




