section(data-section="third").section-cooking-method.parallax__layer.parallax__layer--base.js-cooking-method-section
	.container.section-cooking-method__container.js-cooking-method
		h2.section-cooking-method__warning.section-cooking-method__warning--rotated.js-cooking-method-rotated
			| Правильно варим гречку

		.section-cooking-method__slider.js-slider-wrap
			include ../pages/slider


