.section-ticker
	p.section-ticker__text.js-ticker-text
		span
			| Блюда из гречки
		span
			| Блюда из гречки
		span
			| Блюда из гречки
		span
			| Блюда из гречки
		span
			| Блюда из гречки
		span
			| Блюда из гречки

