section.section-start
	.container.section-start__container
		.section-start__wrap
			h1.section-start__title
				| Греча

			p.section-start__text
				| Краткое
				span.section-start__text-arrow
				| руководство

			.section-start__background
