section(data-section="fourth").section-ticker.parallax__layer.parallax__layer--back
	p.section-ticker__text.js-ticker-text
		span
			| Блюда из гречки
		span
			| Блюда из гречки
		span
			| Блюда из гречки
		span
			| Блюда из гречки
		span
			| Блюда из гречки
		span
			| Блюда из гречки

