- const linkInsta = 'https://www.instagram.com/grechnevaiakasha/'
- const text = 'Греча в инстаграм'

.section-ticker.section-survey__ticker
	p.section-ticker__text.js-ticker-text
		+socials(linkInsta, text)
		+socials(linkInsta, text)
		+socials(linkInsta, text)
		+socials(linkInsta, text)
		+socials(linkInsta, text)
		+socials(linkInsta, text)
		+socials(linkInsta, text)




