section(data-section="first").section-start.main-section__section-start.parallax__layer.parallax__layer--base
	.container.section-start__container
		.section-start__wrap.js-block-image
			.section-start__string-wrap
				h1.section-start__title
					| Греча

			p.section-start__text
				span
					| Краткое
					span.section-start__text-arrow
					| руководство
					span.section-start__text-arrow

				span
					| Краткое
					span.section-start__text-arrow
					| руководство
					span.section-start__text-arrow

				span
					| Краткое
					span.section-start__text-arrow
					| руководство
					span.section-start__text-arrow
			div

			.section-start__background
