// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS
$color-black: #1C1C1C;
$color-white: #F7F6F2;
$color-gold: #D5A965;
$color-gray: #282828;

// FONTS
// stylelint-disable-next-line
$font-primary: "CormorantGaramond", -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen, ubuntu, cantarell, "Open Sans", "Helvetica Neue", sans-serif;

// EASING TRANSITIONS
$duration-normal: 0.4s;
$easing-back-out: cubic-bezier(0.25, 0.74, 0.22, 1.1); // http://cubic-bezier.com/#.25,.74,.22,1.1
$easing-back-in: cubic-bezier(0.47, -0.1, 0.5, -0.06); // http://cubic-bezier.com/#.47,-0.1,.5,-.06
$easing-out: ease-out;
$easing-in: ease-in;

// Settings
$extra-small: 768px;
$small: 992px;
$medium: 1200px;
$large: 1400px;
